[init]
	defaultBranch = main
[user]
	name = $GIT_AUTHOR_NAME
	email = $GIT_AUTHOR_EMAIL
{{- if eq .chezmoi.os "linux" }}
	signingkey = AFD13119AEB6E606
{{- end }}
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	side-by-side = false
	line-numbers = true
	syntax-theme = OneHalfDark
	navigate = true
	dark = true
[url "git@github.com:"]
	insteadOf = https://github.com/
